/**/

/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* Fonts: https://www.1001fonts.com/greater-theory-font.html
          https://www.1001fonts.com/wasted-vindey-font.html

Font face generator: https://transfonter.org/ */

@font-face {
    font-family: 'Wasted Vindey';
    src: local('Wasted Vindey'), local('WastedVindeyRegular'),
        url('WastedVindeyRegular.woff2') format('woff2'),
        url('WastedVindeyRegular.woff') format('woff'),
        url('WastedVindeyRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Greater Theory';
    src: local('Greater Theory'), local('GreaterTheoryRegular'),
        url('GreaterTheoryRegular.woff2') format('woff2'),
        url('GreaterTheoryRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
  font-size: 10px;
  line-height: 30px;
  letter-spacing: 5px;
  word-spacing: 10px;
  font-family: 'Wasted Vindey',serif;
}

h1{
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1.5px;
  font-family: 'Greater Theory',sans-serif;
}

h2{
  font-size:1.8rem;
  letter-spacing: 1.5px;
  font-family: 'Greater Theory',sans-serif;
}

p{
  font-size: 1.2rem;
  line-height: 20px;
}

section > h2+p{
  text-indent: 20px;
} /* Via: https://drafts.csswg.org/selectors/#combinators */

a{
  color: cyan;
}

a:visited{
  color: red;
}

a:focus{
  color: green;
  outline: none; /* Via: https://stackoverflow.com/questions/3397113/how-to-remove-focus-border-outline-around-text-input-boxes-chrome */
}

a:hover{
  color: orange;
  text-decoration: none;
}

a:active{
  font-size: 2rem;
}


section p>a::after{
  content:url(external-link-52.png); /* Via: https://www.w3schools.com/cssref/sel_after.php */
}

li{
  line-height: 20px;
  list-style-type: square;
}

nav li{
  text-align: center;
  border: 5px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}